<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.rsn.meganecase"
    android:versionCode="78"
    android:versionName="0.8.78" >
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name=".App"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_short"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="@string/app_name_short"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/app_name_short"
            android:theme="@style/Theme.Test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*"
                    android:scheme="http" />
                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestActivity"
            android:theme="@style/Theme.Test" />
        <activity android:name=".OAuthActivity" >
            <intent-filter>
                <action android:name="jp.rsn.meganecase.OAUTH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <receiver
            android:name="MorisobaWidget"
            android:icon="@drawable/soba"
            android:label="@string/morisoba" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/morisoba" />
        </receiver>
        <receiver
            android:name=".MeganekeSWidget"
            android:icon="@drawable/launcher"
            android:label="@string/meganekes" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="jp.rsn.meganecase.REPLY_WIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/meganekes" />
        </receiver>
        <receiver
            android:name=".OnseiWidget"
            android:icon="@drawable/launcher"
            android:label="@string/onsei" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="jp.rsn.meganecase.ONSEI_WIDGET_SWITCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="jp.rsn.meganecase.ONSEI_WIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/onsei" />
        </receiver>
        <!-- AppC Core Setting Start -->
        <meta-data
            android:name="appc_media_key"
            android:value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
        <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version" />
        <activity
            android:name="net.app_c.cloud.sdk.AppCAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="net.app_c.cloud.sdk.AppCRecoveryActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="net.app_c.cloud.sdk.AppCAgreementActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <receiver
            android:name="net.app_c.cloud.sdk.AppCPkgReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootStrap" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>
        <!-- AppC Core Setting End -->
    </application>
</manifest>